.App {
  font-family: sans-serif;
  text-align: center;
}

.grid {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: scroll;
}

.row {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: row;
}

.row.reverse {
  flex-direction: row-reverse;
  width: 100%;
}

.col {
  display: flex;
  width: 12.5%;
  min-width: 80px;
  border: 1px solid #ddd;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.col.black {
  background-color: black;
  color: white;
}
.col.white {
  background-color: white;
  color: black;
}
